<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		   = "com.aideengibson.match3"
        version 	= "1.0.0">

   <name>Take me home</name>

   <description>"Match3" is a game based on CandyCrush where you have to match 3 objects over and over again to win.</description>


   <icon src="icon.png" gap:role="default" />


   <preference name="phonegap-version" value="3.0.0" />
   <preference name="target-device" value="universal" />

</widget>